
<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>Game of thrones</mat-card-title>
  </mat-card-header>
  <mat-form-field>
      <input matInput placeholder="Number of items" required>
    </mat-form-field>
<button class="btn btn-danger addtocartbtn">Add to cart</button>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Game of thrones</mat-card-title>
    </mat-card-header>
    <mat-form-field>
        <input matInput placeholder="Number of items" required>
      </mat-form-field>
  <button class="btn btn-danger addtocartbtn">Add to cart</button>
  </mat-card>