<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      Horizon
     
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="newbill" routerLinkActive="active">New Bill</a>
      <a mat-list-item routerLink="additem" routerLinkActive="active">Add item</a>
      <a mat-list-item routerLink="addstock" routerLinkActive="active">Add stock</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="maincontent">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"><i class="fas fa-align-justify"></i></mat-icon>
      </button>
      <span>Horizon</span>
      <button (click)="logout()" class="btn btn-danger">Logout</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
