<div class="row loginfrm">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form action="">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Sign In</mat-card-title>
              </mat-card-header>
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" class="loginbtn">Log In</button>
          </div>
        </mat-card>
     
      </form>
    </div>
    <div class="col-md-3"></div>
</div>


